{% extends 'layout.html' %}

{% block content %}
<div id="app">
  <div v-for="post in posts" :key="post.id" class="card shadow-sm mb-3">
    <a v-bind:href="post.post_url">
      <img class="card-img-top" v-bind:src="post.image_url">
    </a>
    <div class="card-body">
      <p class="clearfix">
        {% raw %}{{ post.post_tags }}{% endraw %}
        {% if 'email' in session %}
        <button v-on:click="submitLike($event, post.id)" class="btn btn-outline-danger float-right">
          <span>{% raw %}{{ post.post_votes }}{% endraw %}</span>
          <svg class="bi" width="32" height="32" fill="#000">
            <use xlink:href="/static/svg/bootstrap-icons.svg#heart-fill" />
          </svg>
          <span v-if="post.user_liked">Liked</span>
        </button>
        {% else %}
        <div class="btn btn-outline-danger float-right">
          <span>{% raw %}{{ post.post_votes }}{% endraw %}</span>
          <svg class="bi" width="32" height="32" fill="#000">
            <use xlink:href="/static/svg/bootstrap-icons.svg#heart-fill" />
          </svg>
        </div>
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script>
  var app = new Vue({
    el: '#app',
    data: {
      error: null,
      message: null,
      posts: []
    },
    methods: {
      fetchPosts: function () {
        fetch("{{ url_for('get_select_feed') }}", {
          method: 'GET',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          }
        }).then(
          function (response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' + response.status);
              return;
            }

            response.json().then(function (data) {
              app.error = data.error;
              app.message = data.message;
              console.log(app.data);
              data.posts.forEach(element => app.posts.push({
                id: element.id,
                post_url: element.post_url,
                image_url: element.image_url,
                post_tags: element.post_tags,
                post_votes: element.post_votes,
                user_liked: element.user_liked
              }));
            });
          }
        )
          .catch(function (err) {
            console.log('Fetch Error :-S', err);
          });
      },
      submitLike: function (event, post_id) {
        fetch("{{ url_for('post_insert_vote') }}", {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({'post_id': post_id})
        }).then(
          function (response) {
            if (response.status !== 200) {
              console.log('Looks like there was a problem. Status Code: ' + response.status);
              return;
            }
            response.json().then(function (data) {
              if (app.posts[app.getIndex(app.posts, post_id)].user_liked) {
                app.posts[app.getIndex(app.posts, post_id)].user_liked = false;
              } else {
                app.posts[app.getIndex(app.posts, post_id)].user_liked = true;
              }
              app.error = data.error;
              app.message = data.message;
              app.posts[app.getIndex(app.posts, data.post_id)].post_votes = data.votes;
            });
          }
        ).catch(function (err) {
          console.log('Fetch Error :-S', err);
        });
      },
      getIndex(list, id) {
        return list.findIndex((e) => e.id == id)
      }
    },
    created: function () {
        this.fetchPosts()
    }
  })
</script>
{% endblock %}