{% extends 'layout.html' %}

{% block content %}
<div class="row" id="app">
    <div class="col-md-12">
        <form v-on:submit.prevent="submitPost" action="{{ url_for('post_insert_post') }}" method="POST" id="post-form">
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input v-model="title" type="text" class="form-control" id="titleInput" name="title"
                    placeholder="Title ...">
            </div>
            <div class="form-group">
                <label for="tagsInput">Tags</label>
                <input v-model="tags" type="text" class="form-control" id="tagsInput" name="tags"
                    placeholder="#tag1 #tag2 ...">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <input v-model="description" type="text" class="form-control" id="descriptionInput" name="description"
                    placeholder="Description ...">
            </div>
            <div class="form-group">
                <label for="imageUrlInput">Image URL</label>
                <input v-model="image" type="text" class="form-control" id="imageUrlInput" name="image"
                    placeholder="https://site.com/image.jpeg...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div v-if="error == true" v-for="errorMessage in messages" class="mt-3 alert alert-danger">
            {% raw %}{{ errorMessage }}{% endraw %}
        </div>
        <div v-else-if="error == false" v-for="successMessage in messages" class="mt-3 alert alert-success">
            {% raw %}{{ successMessage }}{% endraw %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    var app = new Vue({
      el: '#app',
      data: {
        error: null,
        messages: [],
        title: null,
        tags: null,
        description: null,
        image: null
      },
      methods: {
        submitPost: function (event) {
          var form = new FormData(document.getElementById('post-form'));

          fetch("{{ url_for('post_insert_post') }}", {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(form))
          }).then(
            function (response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' + response.status);
                return;
              }
              response.json().then(function (data) {
                app.error = data.error;
                app.messages = data.messages;
              });
            }
          ).catch(function (err) {
            console.log('Fetch Error :-S', err);
          });
        }
      }
    })
  </script>
  {% endblock %}