<!DOCTYPE html>
<html>

<head>
  <link href='//fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <title>Mini Instagram Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Mininsta</h5>

    {% if 'email' not in session %}
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{{ url_for('get_view_feed') }}">Home</a>
      <a class="p-2 text-dark" href="{{ url_for('get_view_login') }}">Login</a>
    </nav>
    <a class="btn btn-outline-primary" href="{{ url_for('get_view_register') }}">Sign up</a>
    {% else %}
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{{ url_for('get_view_feed') }}">Home</a>
      <a class="p-2 text-dark" href="{{ url_for('get_insert_post') }}">Post</a>
    </nav>
    <a class="btn btn-outline-danger" href="{{ url_for('get_session_logout') }}">Logout</a>
    {% endif %}
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  {% block footer %}{% endblock %}
</body>

</html>