{% extends 'layout.html' %}

{% block content %}
<div class="row" id="app">
    <div class="col-md-12">
        <form v-on:submit.prevent="submitLogin" action="{{ url_for('post_check_login') }}" method="POST" id="login-form">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input v-model="email" type="text" class="form-control" id="emailInput" name="email"
                    placeholder="email@site.com ...">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input v-model="password" type="password" class="form-control" id="passwordInput" name="password"
                    placeholder="Password ...">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <div v-if="error == true" class="mt-3 alert alert-danger">
            {% raw %}{{ message }}{% endraw%}
        </div>
        <div v-else-if="error == false" class="mt-3 alert alert-success">
            {% raw%}{{ message }}{% endraw%}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    var app = new Vue({
      el: '#app',
      data: {
        error: null,
        message: null,
        email: null,
        password: null,
      },
      methods: {
        submitLogin: function (event) {
          var form = new FormData(document.getElementById('login-form'));

          fetch("{{ url_for('post_check_login') }}", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(form))
          }).then(
            function (response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' + response.status);
                return;
              }
              response.json().then(function (data) {
                app.error = data.error;
                app.message = data.message;
              });
            }
          ).catch(function (err) {
            console.log('Fetch Error :-S', err);
          });
        }
      }
    })
  </script>
  {% endblock %}