{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-9">
      <div class="card shadow-sm">
        <img class="card-img-top" src="{{ post.image_url }}">
        <div class="card-body">
          <p>{{ post.tags }}</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ post.title }}</h4>
        </div>
        <div class="card-body">
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}