{% extends 'layout.html' %}

{% block content %}
<div class="row" id="app">
    <div class="col-md-12">
        <form v-on:submit.prevent="submitRegister" action="{{ url_for('post_insert_register') }}" method="POST" id="register-form">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input v-model="email" type="text" class="form-control" id="emailInput" name="email"
                    placeholder="email@site.com ...">
            </div>
            <div class="form-group">
                <label for="pseudoInput">Pseudo</label>
                <input v-model="pseudo" type="text" class="form-control" id="pseudoInput" name="pseudo"
                    placeholder="Pseudo ...">
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input v-model="password" type="password" class="form-control" id="passwordInput" name="password"
                    placeholder="Password ...">
            </div>
            <div class="form-group">
                <label for="repeatPasswordInput">Repeat Password</label>
                <input v-model="repeat_password" type="password" class="form-control" id="repeatPasswordInput" name="repeatPassword"
                    placeholder="Password...">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <div v-if="error == true" v-for="errorMessage in messages" class="mt-3 alert alert-danger">
            {% raw %}{{ errorMessage }}{% endraw%}
        </div>
        <div v-else-if="error == false" v-for="successMessage in messages" class="mt-3 alert alert-success">
            {% raw%}{{ successMessage }}{% endraw%}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    var app = new Vue({
      el: '#app',
      data: {
        error: null,
        messages: [],
        email: null,
        pseudo: null,
        password: null,
        repeat_password: null
      },
      methods: {
        submitRegister: function (event) {
          var form = new FormData(document.getElementById('register-form'));

          fetch("{{ url_for('post_insert_register') }}", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(form))
          }).then(
            function (response) {
              if (response.status !== 200) {
                console.log('Looks like there was a problem. Status Code: ' + response.status);
                return;
              }
              response.json().then(function (data) {
                app.error = data.error;
                app.messages = data.messages;
              });
            }
          ).catch(function (err) {
            console.log('Fetch Error :-S', err);
          });
        }
      }
    })
  </script>
  {% endblock %}